/* CSS inspired by W3schools.com */
/*Container holding the image and the text */
.container  {
    display: flex;
    position: relative;
  }
  
/* Bottom right text */
  .text-block {
    display: block;
    width:45.5%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.322);
    color: white;
  
  }
.resize {
  width: 100%;
  height : auto;
  }
    
.resize {
  width: auto;
  max-height : 950px;
  }
 
p {
  text-align: justify;
  text-justify: inter-word;
}
/* Body styles */

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}


#logo_img {
  max-width: 135px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#logo_contact {
  max-width: 100px;
  display: block;
  margin-left: 2px;
  margin-right: auto;
  margin-top: 20px;
}

#text_logo {
  max-width: 155px;
  display: block;
  margin-left: 2px;
  margin-right: auto;
  margin-top: 20px;
}

.aside {
  background-color: #182f52;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  max-height: 700px;
  
}

.footer {
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 60px;
  width: 100%;
  
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) { 
  /* For mobile phones: */
   [class*="col-"] {
    width: 100%;
  }
}

/*typing animation*/

#container {
	text-align: center;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	letter-spacing: 2px;
  height: 0px;
  width:fit-content;
  margin-bottom: 100px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 20px;
	background-color:#ffffff;
	animation: blink .90s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #ffffff; 
	}
}



/* Accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #182f52;
  color:#ffffff;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* end accordion */